<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291583480134-8ucdq6e5g5ac8oklnnr98oci31e5tj1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291583480134-8ucdq6e5g5ac8oklnnr98oci31e5tj1q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>291583480134-92litc09futn89fii5sptqdlvlm098st.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBYNKHqnR_YXsuOcjvk0N3MA-xHzV0aYY</string>
	<key>GCM_SENDER_ID</key>
	<string>291583480134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arjunApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-83b00</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-83b00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291583480134:ios:765177f85d8dafbf841547</string>
</dict>
</plist>